@use './../utils/media' as *;

.t {
  margin-top: 0;
  font-weight: 700;
  line-height: 27px;

  &--1 {
    @include media(lg) {
      font-size: 28px;
      letter-spacing: -1.4px;
    }
  }

  &--2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    @include media(lg) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &--3 {
    font-size: 13px;
    letter-spacing: 2px;

    @include media(lg) {
      font-size: 15px;
      letter-spacing: 3px;
    }
  }
}
