@use './../../scss/utils/media' as *;
@use './../../scss/utils/reset' as *;
@use './../../scss/utils/z-index' as *;
@use './../../scss/utils/interaction' as *;

@keyframes popup-bg-show {
  0% { background-color: rgba(var(--bg-overlay-color), 0); }
  100% { background-color: rgba(var(--bg-overlay-color), .5); }
}

@keyframes popup-bg-hide {
  0% { background-color: rgba(var(--bg-overlay-color), .5); }
  100% { background-color: rgba(var(--bg-overlay-color), 0); }
}

@keyframes popup-show {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes popup-hide {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

.popup {
  @include z-index(fixed, popup);

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  &--show {
    display: block;
  }
}

.popup__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: transparent;
  animation: 250ms ease-in-out forwards;

  @include media(md) {
    padding: 40px;
  }
}

.popup--show:not(.popup--hide) .popup__wrapper {
  animation-name: popup-bg-show;
}

.popup--hide .popup__wrapper {
  animation-name: popup-bg-hide;
}

.popup__content {
  position: relative;
  width: fit-content;
  opacity: 0;
  animation: 250ms ease-in-out forwards;
}

.popup--show:not(.popup--hide) .popup__content {
  animation-name: popup-show;
  animation-delay: 200ms;
}

.popup--hide .popup__content {
  animation-name: popup-hide;
}

.popup__close {
  @include inpres;
  @include motion(all button-highlight-main);

  position: absolute;
  top: -5px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  color: var(--icon-secondary-color);
  background-color: var(--bg-main-color);
  transform: translateY(-100%);
  cursor: pointer;

  @include hover {
    color: var(--accent-main-color);
    background-color: var(--bg-accent-color);
  }
}

@include focus('.popup__close') {
  color: var(--accent-main-color);
  background-color: var(--bg-accent-color);
}

.popup__picture {
  display: block;

  @include media(md) {
    max-width: calc(100vw - 60px);
    max-height: calc(100vw - 80px);
  }
}

.popup__img {
  width: 100%;
  max-height: calc(100vh - 80px);
}
