<section class="popup">
  <div class="popup__wrapper">
    <div class="popup__content">
      <button
        type="button"
        aria-label="Close popup"
        class="popup__close"
      >
        <svg
          width="24"
          height="24"
          aria-hidden="true"
          class="popup__icon"
        >
          <use href="#close" />
        </svg>
      </button>

      <picture class="popup__picture">
        <img
          src="https://placehold.co/487x365"
          width="280"
          height="209"
          loading="lazy"
          decoding="async"
          alt=""
          class="popup__img"
        >
      </picture>

      <span tabindex="0" class="popup__focustrap"></span>
    </div>
  </div>

  <template id="placeholder">
    <source
      media="(min-width: 1024px)"
      srcset="https://placehold.co/1461x1095"
    >
    <img
      src="https://placehold.co/487x365"
      width="280"
      height="209"
      loading="lazy"
      decoding="async"
      alt=""
      class="popup__img"
    >
  </template>
</section>
