@use './../../scss/utils/media' as *;
@use './../../scss/utils/reset' as *;

.skills__wrapper {
  @include media(lg) {
    display: grid;
    grid-column-gap: 180px;
    grid-template-columns: 380px 1fr;
  }

  @include media(xl) {
    grid-column-gap: 235px;
    grid-template-columns: 425px 1fr;
  }

  @include media(xxl) {
    grid-column-gap: 275px;
    grid-template-columns: 493px 1fr;
  }
}

.skills__title {
  margin-bottom: 20px;
  text-transform: uppercase;

  @include media(lg) {
    margin-bottom: 83px;
  }
}

.skills__skills {
  margin-bottom: 45px;
}

.skills__list {
  @include ulres;

  @include media(lg) {
    padding-top: 26px;
  }
}

.skills__item {
  &:not(:last-child) {
    margin-bottom: 10px;

    @include media(lg) {
      margin-bottom: 17px;
    }
  }
}

.skills__subtitle {
  margin-bottom: 7px;
  text-transform: uppercase;
}

.skills__progress-bar {
  position: relative;
  display: block;
  height: 3px;
  background-color: var(--icon-main-color);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: var(--progress);
    height: 100%;
    background-color: var(--accent-secondary-color);
    content: '';
  }
}

.skills__highlights-list {
  @include ulres;
}

.skills__highlights-item {
  &:not(:last-child) {
    margin-bottom: 16px;

    @include media(lg) {
      margin-bottom: 20px;
    }
  }
}

.skills__number {
  display: block;
}

.skills__subline {
  display: block;
  margin-bottom: 8px;
  font-style: italic;
  font-weight: 700;
  color: var(--text-secondary-color);
}

.skills__desc {
  margin-bottom: 0;
  color: var(--text-secondary-color);
}
