<section class="block testimonials {{ class }}" id="testimonials">
  <div class="testimonials__wrapper container">
    <h2 class="testimonials__title p p--4">
      Testimonials
    </h2>

    <blockquote
      cite="https://www.linkedin.com/in/yana-klose/#recommendations"
      class="testimonials__quote"
    >
      <p class="testimonials__text p p--1">
        Yana is a responsible professional with a unique perspective on technical solutions.
        I believe her technical skills will make her a valuable asset for any project.
        I highly recommend Yana as an experienced <br>frontend developer.
      </p>
      <p class="testimonials__author p p--3">
        Denis Andreev, <b>Senior Product & Marketing Designer (Academika)</b>
      </p>
    </blockquote>
  </div>
</section>
