<section data-theme="dark" class="block start-screen {{ class }}">
  <div class="start-screen__wrapper container">
    <picture class="start-screen__picture">
      <source
        media="(min-width: 1024px)"
        type="image/webp"
        srcset="img/start-screen/lg@1x.webp 1x, img/start-screen/lg@2x.webp 2x"
      >
      <source
        media="(min-width: 1024px)"
        srcset="img/start-screen/lg@1x.png 1x, img/start-screen/lg@2x.png 2x"
      >
      <source
        type="image/webp"
        srcset="img/start-screen/sm@1x.webp 1x, img/start-screen/sm@2x.webp 2x"
      >
      <img
        src="img/start-screen/sm@1x.png"
        srcset="img/start-screen/sm@2x.png 2x"
        width="280"
        height="280"
        alt="Yana's photo"
        class="start-screen__img"
      >
    </picture>

    <h1 class="start-screen__title h h--1">
      Frontend developer creating order out of chaos
    </h1>

    <p class="start-screen__desc p p--3">
      That‘s me! My name is Yana Klose, and I am a frontend developer with extensive design background.
      My favorite things include coding complex design systems, coming up with helpful SCSS-mixins, and writing fiction after work.
    </p>
  </div>
</section>
